openapi: 3.0.0
info:
  version: 1.0.0
  title: Zenvia API
  termsOfService: 'https://zenvia.com/'
  contact:
    email: contact@zenvia.com
    url: 'http://zenvia.com/contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://hmagarotto.github.io/zenvia-api-docs/zenvia-logo-developers.png'
  description: >
    # Overview

    This specification is intended to to be a good starting point for describing Zenvia API in
    [OpenAPI format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).

    # REST

    Our API follows the REST convention.


    With REST we expose an hierarchical entity models called resources
    that you can interact with using REST operations
    like create a new resource item, delete one resource item, list all resource items, etc...


    All our resources is represented using the JSON format and a content type of 'application/json'.

    ## Resources Tree

    ## HTTP Methods

    ## Pagination

    ## Error Handling

    ## Restrictions

    ### Rate Limit

    ## Deviations from REST

    # Authentication

    To use this API you need to send the JWT token in all requests.


    The JWT token needs to be sent in HTTP header 'Authorization' with a 'bearer token'.
    
    
    Example:
    ```Authorization: Bearer eyJhbGciOiJSUzI1NiJ9..```

x-tagGroups:
  - name: Chatbots
    tags:
      - Chatbots
      - Dispatches
  - name: Credentials
    tags:
      - Credentials
  - name: Messaging
    tags:
      - SMS
      - WhatsApp
      - Facebook
  - name: Reports
    tags:
      - Consumption
      - Engagement
servers:
  - description: The production API server
    url: https://api.zenvia.com/api/v1
security:
  - jwt: []